<div class="wrapper"> 
    <nav id="sidebar">
        <div class="sidebar-header">
            <a href="/">
                <img class="sidebar-icons" src="/images/icon-save.svg" />
            </a>
            <a href="/dashboard">
                <img class="sidebar-icons" src="/images/icon-all.svg" />
            </a>
            <a class = "icon-sign-out" href="/">
            <img href="/" class="sidebar-icons" src="/images/icon-sign-out.svg" />
            </a>
        </div>
    </nav>
</div>