<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset = "UTF-8">
    <title>Lecteur</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
    <link rel="stylesheet" href="/css/fonts.css">
    <link rel="stylesheet" href="/css/dashboard.css">
</head>
<body >
    <div class="teste">
        <div class="wrapper"> 
            <!-- Sidebar -->
            <nav id="sidebar">
                <div class="sidebar-header">
                    <img class="sidebar-icons" src="/images/icon-save.svg" />
                    <img class="sidebar-icons" src="/images/icon-all.svg" />
                    <img class="sidebar-icons icon-sign-out" src="/images/icon-sign-out.svg" />
                </div>
            </nav>
        </div>
        <div id="content">
            <div class="flex-inside-content">
                <div class="search-bar">
                    <h2 class="strong-text">Search results</h2>
                    <form class="form" action="/search" method="get">
                        <input name="search" type="text">
                    </form>
                    <p class="regular-text">Domingo, x mes 2000</p>
                </div>
                <div class="book-results">
                    <div class="container-book">
                        <img src="/images/livro.jpeg" />
                        <div class="container-book-text">
                            <div class="container-book-text-title">
                                <h3 class="strong-text">Crepusculo</h3>
                                <p>Add to your library</p>
                            </div>
                            <h4 class="regular-text">Autoraaa</h4>
                            <p class="regular-text">Aguardado há mais de uma década, Sol da meia-noite, novo livro do universo de Crepúsculo, chega ao Brasil em lançamento mundial no dia 4 de agosto
                                Um dos maiores fenômenos editoriais dos últimos tempos, a saga Crepúsculo narra a icônica história de amor de Bella Swan, uma garota tímida e desastrada, que acaba de mudar de cidade, e Edward Cullen….</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</body>