<!DOCTYPE html>
    <html lang="pt-br">
        <head>
            <meta charset = "UTF-8">
            <title>Lecteur</title>
            <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
            <link rel="stylesheet" href="/css/header.css">
            <nav class="navbar navbar-white ">
                <div class="logo">
                    <img class="logo-img" src="/images/logo.png"/>
                 </div>

                 <a class="strong-text" href="">Sign in</a>
                </div>
              </nav>
        </head>

        <body>
        <div class="container">