<%- include("partials/header"); -%>
<div class="container">
    <div class="content">
        <div class="text-container">
            <h2 class="home-text strong-text">Where is your next adventure?</h2>
            <p class="home-text regular-text">We help you organize your next readings, 
                evaluate your past readings and share with 
                your friends.</p>
            <button class="btn home-text"><a href="/sign">Start your journey</a></button>
        </div>
        <div class="image-container">
            <img class="vector-home" src="/images/vector.svg" />
        </div>
    </div>
    <img id="img-plant-home" src="/images/plant.svg" />
</div>