<%- include("header"); -%>
<body class="body-login" >
    <div class="container">
        <div class="form-container">
            <form class="form" action="/" method="post">
            <div class="each-form-container">
                <label class="label-form regular-text">E-mail</label>
                <input class="input-form" name="name" type="text">
            </div>
            <div class="each-form-container">
                <label class="label-form regular-text">Your password</label>
                <input class="input-form" name="password" type="password">
            </div>
                <button class="btn btn-sign-up home-text" type="submit">Sign in</button>
            </form>
        </div>
    </div>
</body>