<%- include("header"); -%>
    <div class="form-container">
        <form class="form" action="/" method="post">
            <label class="labelForm strong-text">What's your name?</label>
            <input name="name" type="text">
            <label class="labelForm strong-text">What's your e-mail?</label>
            <input name="email" type="email">
            <label class="labelForm strong-text">Your password</label>
            <input name="password" type="password">
            <label class="labelForm strong-text">Verify your password</label>
            <input type="password">
            <button class="btn home-text" type="submit">Sign up</button>
        </form>
    </div>