<!DOCTYPE html>
<html lang="pt-br">
    <head>
        <meta charset = "UTF-8">
        <title>Sign-up</title>
        <link rel="shortcut icon" type="image/jpg" href="/images/icon-save.svg"/>
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
        <link rel="stylesheet" href="/css/fonts.css">
        <link rel="stylesheet" href="/css/style.css">
        <nav class="navbar navbar-white ">
            <div class="logo">
                <img class="logo-img" src="/images/logo.svg"/>
            </div>
            
            <a class="strong-text" href="/login">Sign in</a>
        </div>
    </nav>
    </head>
    <body class="body-sign-up" >
        <div class="container">
            <div class="form-container">
                <form class="form" action="/sign-up" method="post">
                    <div class="each-form-container">
                        <label class="label-form regular-text">What's your name?</label>
                        <input class="input-form" name="name" type="text">
                    </div>
                    <div class="each-form-container">
                        <label class="label-form regular-text">What's your e-mail?</label>
                        <input class="input-form regular-text" name="email" type="email">
                    </div>
                    <div class="each-form-container">
                        <label class="label-form regular-text">Your password</label>
                        <input class="input-form regular-text" name="password" type="password">
                    </div>
                    <div class="each-form-container">
                        <label class="label-form regular-text">Verify your password</label>
                        <input class="input-form regular-text" type="password">
                    </div>
                    <button class="btn btn-sign-up home-text" type="submit">Sign up</button>
                    <p class="regular-text center-text">Already have an account? <a href="/login">Sign in</a></p>
                </form>
            </div>
        </div>
    </body>
</html>