.teste {
    display: flex;
}

.wrapper {
    flex: 0.5;
    display: flex;
    width: 100%;
}

#sidebar {
    flex: 10%;
    width: 100px;
    top: 0;
    left: 0;
    height: 100vh;
    z-index: 999;
    background: #FFFFFF;
}

.sidebar-header {
    display: flex;
    flex-direction: column;
    padding: 20px;
    height: 100vh;
    gap: 20px;
}

.sidebar-icons {
    height: 40px;
}

.icon-sign-out {
    margin-top: auto;
}

#content {
    flex: 90%;
    height: 100vh;
    background-color: #F4F4F4;
}

.flex-inside-content {
    display: flex;
    flex-direction: column;
    height: 100vh;
}

.search-bar {
    flex: 10%;
    display: flex;
    justify-content: space-between;
    padding: 3%;
}

.search-bar h2 {
    font-size: 30px;
}

.form input {
    background-color: #FFFFFF;
    border: 1px solid #979797;
    border-radius: 12px;
    height: 38px;
    text-align: center;
}

.book-results {
    flex: 90%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    gap: 20px;
    padding-right: 8%;
    padding-left: 8%;
    height: 100%;
    overflow: scroll;
}

.container-book {
    flex: 0.3;
    border-radius: 21px;
    background: #FFFFFF;
    display: flex;
    align-items: center;
    padding-left: 4%;
    padding-right: 4%;
    gap: 5%;
}

.container-book img {
    flex: 10%;
    height: 70%;
    max-height: 300px;
    width: auto;
    border-radius: 20px;
}

.container-book-text {
    flex: 90%;
    display: flex;
    flex-direction: column;
}

.container-book-text-title {
    display: flex;
    flex-direction: row;
    align-items: center;
}

.container-book-text-title h3 {
   flex: 1
}

.container-book-text-title p{
    flex: 1;
    text-align: right;
    color: #F56370;
    font-size: 17px;
    font-family: BrandonText-Bold;
 }

.container-book-text h3 {

}
